.moldura-verde {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
  box-sizing: border-box;
  border: 30px solid #4caf50;
  background: transparent;
  border-image: linear-gradient(to right, #4caf50, #8bc34a, #679335) 1;
  border-style: solid;
  @media (max-width: 700px) {
    border-width: 20px;
  }
    
}
