$primary-color: #00794f;
$secondary-color: #79a15d;
$terthiary-color: #6c6e70;
$secondary-light-color: #e4e6f4de;
$background-color: white;
$background-light-color: white;
$shadow: 1px 1px 3px #6c6e70;
$mobile-breakpoint-large: 925px;
$mobile-breakpoint-medium: 600px;
$mobile-breakpoint-small: 450px;
